.navbar {
    padding: 0;

    &-brand {
        height: auto;
    }

    &-toggle {
        margin-bottom: (6rem / 2) - 1.7;
        margin-top: (6rem / 2) - 1.7;
    }

    &-default {
        .navbar-nav {
            a {
                border-radius: .3rem;
            }

            .active {
              a {
                background-color: rgba($naranja, .8);

                &:hover {
                  background-color: rgba($naranja, .8);
                }

                &:focus {
                  background-color: rgba($naranja, .8);
                }
              }
            }
        }
    }
}
