.slider {
    .owl-dots {
        left: 50%;
        margin-top: -30px !important;
        position: absolute;
        transform: translateX(-50%);
    }

    @include xxs-device {
      .owl-stage {
        min-height: 30rem;
      }

      h2 {
        text-align: center;
      }

      .lead {
        text-align: justify;
      }
    }

    @include sm-device {
      h2 {
        text-align: inherit;;
      }

      .lead {
        text-align: inherit;
      }
    }


}
