.slider {

    .varaslogo {
      @include xxs-device {
        margin: 0 auto;
        text-align: center;
        transform: scale(.7);
      }

      @include sm-device {
        max-height: 16rem;
        transform: none;
      }
    }

    .mobilehand {
      // border: 3px dashed greenyellow;
      bottom: 0;
      left: 0;
      position: absolute;
      transform-origin: left bottom;
      z-index: 9;

      @include xxs-device {
        display: none;
        transform: scale(.4);
      }
      @include md-device {
        display: block;
        transform: scale(.6);
      }

      @include lg-device {
        display: block;
        transform: scale(.9);
      }
    }



    .owl-dots {
        left: 50%;
        margin-top: -30px !important;
        position: absolute;
        transform: translateX(-50%);

        .owl-dot.active {
          span {
            background-color: $naranja;
          }
        }

        .owl-dot {
          span {
            background-color: rgba($dark-blue, .8);
          }

          &:hover {
            span {
              background-color: rgba($naranja, .7);
            }
          }
        }


    }

    .owl-theme {
      .owl-nav {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 99;

        @include xxs-device {
          margin-top: 0;
        }

        .owl-prev {
          left: 0;
          position: absolute;
          top: 0;
        }

        .owl-next {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }

    .item {
      max-height: 66rem;
      min-height: 30rem;
      position: relative;

      @include xxs-device {
        // height: 23rem;
      }

      @include sm-device {
        // height: 66rem;
      }

      @include md-device {
         min-height: 66rem;
       }

       img {
         left: 50%;
         position: absolute;
         top: 50%;
         transform: translate(-50%, -50%);

       }

      .mobile-pic {
        @include xxs-device {
          display: block;
        }

        @include md-device {
          display: none;
          visibility: hidden;
        }
      }

      .desktop {
        @include xxs-device {
          display: none;
        }

        @include md-device {
          display: block;
        }
      }
    }

    .title {
      color: $naranja;
      font-weight: bold;
      text-shadow: .1rem .1rem .3rem rgba($negro, .5);
      text-transform: uppercase;

      @include xxs-device {
        font-size: 2rem;
        margin-top: -3rem;
        text-align: center;
      }

      @include sm-device {
        font-size: 4.2rem;
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    .lead {
      background-color: rgba($dark-blue, .95);
      color: #fff;
      padding: .5rem;
      text-shadow: .1rem .1rem .3rem rgba($negro, .5);
      text-transform: uppercase;

      @include xxs-device {
        font-size: 1rem;
      }

      @include sm-device {
        font-size: 2rem;
        margin: 0 auto;
        text-align: center;
      }
    }

    @include xxs-device {
      .owl-stage {
        min-height: 23rem;
      }

      h2 {
        text-align: center;
      }

      .lead {
        text-align: center;
      }
    }

    @include md-device {
      h2 {
        text-align: inherit;
      }

      .lead {
        text-align: center;
      }
    }

}
